&spi2 {
    status = "okay";
    cs-gpios = <&gpiob 12  GPIO_ACTIVE_LOW>;

    lora: sx1276@0 {
        compatible = "semtech,sx1276";
        reg = <0>;
        label = "sx1276";
        reset-gpios = <&gpioa 0 GPIO_ACTIVE_LOW>;
        dio-gpios = <&gpioa 6 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>,
            <&gpioa 6 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>,
            <&gpioa 6 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>,
            <&gpioa 9 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>,
            <&gpioa 9 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>,
            <&gpioa 9 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
        rfi-enable-gpios = <&gpioa 1 GPIO_ACTIVE_HIGH>;
        rfo-enable-gpios = <&gpioa 2 GPIO_ACTIVE_HIGH>;
        pa-boost-enable-gpios = <&gpioa 1 GPIO_ACTIVE_HIGH>;
        tcxo-power-gpios = <&gpioa 12 GPIO_ACTIVE_HIGH>;
        tcxo-power-startup-delay-ms = <5>;
        spi-max-frequency = <1000000>;
    };
};

/ {
    aliases {
       lora0 = &lora;
  };
};

